<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon Popularity</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Check Pokémon Popularity, also hi sana!!</h1>

    <div class="search-container">
        <input type="text" id="pokemonInput" placeholder="Enter Pokémon Name">
        <button id="searchButton" onclick="getMetrics()">Check Popularity</button>
    </div>

    <div id="result">
        <canvas id="trendsChart"></canvas>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
